= semantic_form_for [@challenge, @problem] do |f|
  = f.inputs do
    = f.input :name
    = f.input :desc
    = f.input :show_error
    = f.input :demo_input
    = f.input :demo_output
    = f.input :input
    = f.input :output
  
  = f.actions do
    = f.submit 'Save'
