%h1 Listing problems

%table
  %tr
    %th Name
    %th Desc
    %th User
    %th Show error
    %th Demo input
    %th Demo output
    %th Input
    %th Output
    %th
    %th
    %th

  - @problems.each do |problem|
    %tr
      %td= problem.name
      %td= problem.desc
      %td= problem.user_id
      %td= problem.show_error
      %td= problem.demo_input
      %td= problem.demo_output
      %td= problem.input
      %td= problem.output
      %td= link_to 'Show', problem
      %td= link_to 'Edit', edit_problem_path(problem)
      %td= link_to 'Destroy', problem, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Problem', new_problem_path
