- admin = can? :manage, @challenge

%h1= @problem.name
  
%p
  By User: #{@challenge.user.email}
  Show error: #{@problem.show_error ? 'Yes' : 'No'}

.md= md_article @problem.desc

%p
  %b Demo input:
  %pre= @problem.demo_input
%p
  %b Demo output:
  %pre= @problem.demo_output

%p
  - if admin
    = link_to 'Edit', edit_challenge_problem_path(@challenge, @problem)
    \|
  = link_to 'Back', challenge_path(@challenge)

- if can? :create, Solution
  %h3 Solutions
  %p= link_to 'New Solution', new_solution_path(problem_id: @problem.id)

  - solutions = @problem.solutions.order('id desc').paginate(page: (params[:page] || 1))
  = will_paginate solutions

  - unless solutions.empty?
    %table
      %tr
        %th ID
        %th Created At
        %th User
        %th Status
  
      - solutions.each do |solution|
        %tr
          %td.middle= solution.id
          %td= solution.created_at
          %td= solution.user.email
          %td
            = solution_status_display solution.status
            = link_to solution.status, solution
