%h1 Challenges

%table
  %tr
    %th Name
    %th Desc
    %th User
    %th Level
    %th
    %th
    %th

  - @challenges.each do |challenge|
    %tr
      %td= challenge.name
      %td= challenge.desc
      %td= challenge.user.email
      %td= challenge.level
      - if challenge.user == current_user
        %td= link_to 'Show', challenge
        %td= link_to 'Edit', edit_challenge_path(challenge)
        %td= link_to 'Destroy', challenge, :method => :delete, :data => { :confirm => 'Are you sure?' }
      - else
        %td
        %td
        %td

%br

= link_to 'New Challenge', new_challenge_path
