- admin = can? :manage, Challenge

%h1= @challenge.name

%p
  By Author: #{@challenge.user.email}
  Level: #{@challenge.level}

= md_article @challenge.desc

%p
  - if admin
    = link_to 'Edit', edit_challenge_path(@challenge)
    \|
  = link_to 'Back', challenges_path

%h2 Problems

%table
  %tr
    %th ID
    %th Name
    %th Desc
    - if admin
      %th
      %th

  - @challenge.problems.each do |problem|
    %tr
      %td.middle= problem.id
      %td= link_to problem.name, [@challenge, problem]
      %td= truncate problem.desc, length: 40
      - if admin
        %td= link_to 'Edit', edit_challenge_problem_path(@challenge, problem)
        %td= link_to 'Destroy', [@challenge, problem], :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Problem', new_challenge_problem_path(@challenge.id) if admin


