- admin = (@challenge.user == current_user)

%h1= @challenge.name

%p
  By User: #{@challenge.user.email}
  Level: #{@challenge.level}

%p= @challenge.desc

%p
  - if admin
    = link_to 'Edit', edit_challenge_path(@challenge)
    \|
  = link_to 'Back', challenges_path

%h2 Problems

%table
  %tr
    %th Name
    %th Desc
    %th Show error
    %th
    - if admin
      %th
      %th

  - @challenge.problems.each do |problem|
    %tr
      %td= problem.name
      %td= problem.desc
      %td= problem.show_error
      %td= link_to 'Show', [@challenge, problem]
      - if admin
        %td= link_to 'Edit', edit_challenge_problem_path(@challenge, problem)
        %td= link_to 'Destroy', [@challenge, problem], :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Problem', new_challenge_problem_path(@challenge.id) if admin


