= form_for @solution do |f|
  = f.hidden_field :problem_id, value: params[:problem_id]
  - if @solution.errors.any?
    #error_explanation
      %h2= "#{pluralize(@solution.errors.count, "error")} prohibited this solution from being saved:"
      %ul
        - @solution.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :code
    = f.text_area :code
  .field
    = f.label :language
    = f.text_field :language
  .actions
    = f.submit 'Post'
