= semantic_form_for @solution do |f|
  = f.hidden_field :problem_id, value: params[:problem_id]

  = f.inputs do
    = f.input :code
    = f.input :language, as: :select, collection: Solution::LANGUAGES

  = f.actions do
    = f.submit 'Post'
