%h1 Solutions

%table
  %tr
    %th Created At
    %th Problem
    %th Language
    %th Status
    %th
    %th

  - @solutions.each do |solution|
    %tr
      %td= solution.created_at
      %td= link_to solution.problem.name, [solution.problem.challenge, solution.problem]
      %td= solution.language
      %td= link_to solution.status, solution
      %td= link_to 'Edit', edit_solution_path(solution)
      %td= link_to 'Destroy', solution, :method => :delete, :data => { :confirm => 'Are you sure?' }

