%h1 Solutions

= will_paginate @solutions
%table
  %tr
    - if @all
      %th User
    %th Created At
    %th Problem
    %th Language
    %th Status

  - @solutions.each do |solution|
    %tr
      - if @all
        %td= solution.user.email
      %td= l solution.created_at, :format => :short
      %td= link_to solution.problem.name, [solution.problem.challenge, solution.problem]
      %td= solution.language
      %td
        = solution_status_display solution.status
        = link_to solution.status, solution
