%p
  User: #{@solution.user.email}

%p
  %b Problem:
  = link_to @solution.problem.name, [@solution.problem.challenge, @solution.problem]
  %b Language:
  = @solution.language

%p
  %b Status:
  = @solution.status
  %b Result:
  = @solution.result

%p
  %b Code:
  %pre
    %code{:"data-language" => @solution.language.downcase}
      = @solution.code

= link_to 'Back', solutions_path
