!!!html
!!! 5
%html
  %head
    %title EasyOjWeb
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

%body
  .body_top
  .wrapper
    = render partial: "layouts/nav"
    %p#notice= notice
    = yield
    .footer
